/*#65DBD3 green
#574E45 brown
#E6B1F2 pink
#B2D1FF blue
#224B7B darkBlue
*/


body {
  background-image: url("../images/space-cat-wallpapers.jpg");
  color: white;
  font-family: 'Wendy One', sans-serif; 
  font-size: 2em;
}
h1{
  font-family: 'Rock Salt', cursive;
}

.list {
  background-color: rgba(101, 219, 211, 0.45);
  padding: 0.5em;
  margin: 1em;
}

li {
  color: black;
}

.panel-heading {
  color: black;
}

div#vidContainer {
  margin-top: 2em;
}

div#main.panel.score{
  {
    margin: auto;
    background-color: rgba(235, 199, 243, 0.6);
}
